$red: #f02459;
$orange: #fc743d;
$yellow: #f9fd37;
$green: #48c0a1;
$light-blue: #5699b9;
$blue: #265acc;
$purple: #7533fd;
$pink: #e250f6;
$white: #fafaed;
$black: #000000;
$grey: #242424;

@mixin default-button($default-color, $hover-color) {
    height: 10vh;
    color: $default-color;
    background-color: $hover-color;
    line-height: 10vh;
    font-size: 1rem;
    border: 5px solid $default-color;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 16px 0px $default-color;
    -moz-box-shadow: 0px 0px 16px 0px $default-color;
    box-shadow: 0px 0px 16px 0px $default-color;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 1rem rgba($default-color, 1);
    transition: 0.3s;
    &:hover {
        background: darken($color: $black, $amount: 10%);
        transform: scale(1.05);
        -webkit-box-shadow: 0px 0px 32px 0px $hover-color;
        -moz-box-shadow: 0px 0px 32px 0px $hover-color;
        box-shadow: 0px 0px 32px 0px $hover-color;
        border-color: $hover-color;
        color: $hover-color;
    }
}

@mixin color-selection {
    color: $white;
    border-color: $white;
    &.red {
        border-color: $red;
        color: $red;
        &:focus {
            box-shadow: 0 0 0.8rem $red;
        }
    }
    &.orange {
        border-color: $orange;
        color: $orange;
        &:focus {
            box-shadow: 0 0 0.8rem $orange;
        }
    }
    &.yellow {
        border-color: $yellow;
        color: $yellow;
        &:focus {
            box-shadow: 0 0 0.8rem $yellow;
        }
    }
    &.green {
        border-color: $green;
        color: $green;
        &:focus {
            box-shadow: 0 0 0.8rem $green;
        }
    }
    &.blue {
        border-color: $blue;
        color: $blue;
        &:focus {
            box-shadow: 0 0 0.8rem $blue;
        }
    }
    &.purple {
        border-color: $purple;
        color: $purple;
        &:focus {
            box-shadow: 0 0 0.8rem $purple;
        }
    }
    &.pink {
        border-color: $pink;
        color: $pink;
        &:focus {
            box-shadow: 0 0 0.8rem $pink;
        }
    }
}
.navbar {
    position: fixed;
    width: 100%;
    height: 20vh;
    -webkit-box-shadow: 0px 0px 0.5rem 0px rgba($white, 0.1);
    -moz-box-shadow: 0px 0px 0.5rem 0px rgba($white, 0.1);
    box-shadow: 0px 0px 8px 0.5rem rgba($white, 0.1);
    transition: 0.3s;
    &:hover {
        -webkit-box-shadow: 0px 0px 0.5rem 0px rgba($white, 0.2);
    -moz-box-shadow: 0px 0px 0.5rem 0px rgba($white, 0.2);
    box-shadow: 0px 0px 8px 0.5rem rgba($white, 0.2);
    }
    background: $black;
    background: -moz-linear-gradient(
        90deg,
        $black 0%,
        $blue 6%,
        $white 7%,
        $blue 8%,
        $black 14%,
        $black 68%,
        $purple 74%,
        $white 75%,
        $purple 76%,
        $black 82%,
        $black 86%,
        $purple 92%,
        $white 93%,
        $purple 94%,
        $black 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        $black 0%,
        $blue 6%,
        $white 7%,
        $blue 8%,
        $black 14%,
        $black 68%,
        $purple 74%,
        $white 75%,
        $purple 76%,
        $black 82%,
        $black 86%,
        $purple 92%,
        $white 93%,
        $purple 94%,
        $black 100%
    );
    background: linear-gradient(
        90deg,
        $black 0%,
        $blue 6%,
        $white 7%,
        $blue 8%,
        $black 14%,
        $black 68%,
        $purple 74%,
        $white 75%,
        $purple 76%,
        $black 82%,
        $black 86%,
        $purple 92%,
        $white 93%,
        $purple 94%,
        $black 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091022",endColorstr="#091022",GradientType=1);
    .header-text {
        width: 54%;
        margin-left: 14%;
        color: $white;
        line-height: 20vh;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 0px 1rem rgba($white, 1);
        transition: 0.3s;
        &:hover {
            font-size: 2.2rem;
            background: darken($color: $black, $amount: 10%);
            cursor: pointer;
            text-shadow: 0px 0px 2rem rgba($white, 1);
        }
        a {
            text-decoration: none;
            color: $white;
            &:hover {
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}
