@import "../app.component.scss";

.home {
    width: 100vw;
    height: 80vh;
    overflow: scroll;
    background: rgba($color: $black, $alpha: 0.965);
    display: block;
    .game-desc {
        font-family: Arial, Helvetica, sans-serif;
        color: $white;
        padding-top: 10vh;
        line-height: 10vh;
        font-size: 1.5rem;
        text-align: center;
    }
    .play-link {
        width: 40vw;
        margin: 5vh 30vw;
        @include default-button($white, $purple);
        transition: 0.3s;
        a {
            text-decoration: none;
            color: $white;
            &:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
