<div class="play">
    <div class="col">
        <div *ngIf="isGameStart && !playerXIsSaved; then xInput else xName"></div>
        <ng-template #xName>
            <div>
                <div *ngIf="playerXName; then showXName else showDefault"></div>
                <ng-template #showXName>
                    <div class="player-header headers">
                        {{ playerXName }}
                    </div>
                </ng-template>
                <ng-template #showDefault>
                    <div class="player-header headers">
                        Player X
                    </div>
                </ng-template>
            </div>
        </ng-template>
        <ng-template #xInput>
            <div class="headers">
                <input type="text" class="name-input" [(ngModel)]="playerXName">
                <br>
                <div style="margin-left: 5vw;">
                    <button (click)="savePlayerName('x')" class="start-game">Save</button>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="col">
        <div class="game-messages">
            {{winner}}
        </div>
        <div *ngIf="isGameStart; then startBlock else gameBlock"></div>
        <ng-template #startBlock>
            <div class="game-messages">
                <button (click)="startGame()" class="start-game">New Game</button>
            </div>
        </ng-template>
        <ng-template #gameBlock>
            <div *ngIf="isX; then xBlock else oBlock"></div>
            <ng-template #xBlock>
                <div class="game-messages player-header">
                    Go Player X!
                </div>
            </ng-template>
            <ng-template #oBlock>
                <div class="game-messages player-header">
                    Go Player O!
                </div>
            </ng-template>
            <div class="game-board">
                <div class="box left-bottom-border" (click)="registerMove('box1')">
                    <div ngClass={{boardSections.box1}}></div>
                </div>
                <div class="box left-bottom-border" (click)="registerMove('box2')">
                    <div ngClass={{boardSections.box2}}></div>
                </div>
                <div class="box" (click)="registerMove('box3')">
                    <div ngClass={{boardSections.box3}}></div>
                </div>
                <div class="box left-bottom-border" (click)="registerMove('box4')">
                    <div ngClass={{boardSections.box4}}></div>
                </div>
                <div class="box left-bottom-border" (click)="registerMove('box5')">
                    <div ngClass={{boardSections.box5}}></div>
                </div>
                <div class="box top-bottom-border" (click)="registerMove('box6')">
                    <div ngClass={{boardSections.box6}}></div>
                </div>
                <div class="box" (click)="registerMove('box7')">
                    <div ngClass={{boardSections.box7}}></div>
                </div>
                <div class="box left-right-border" (click)="registerMove('box8')">
                    <div ngClass={{boardSections.box8}}></div>
                </div>
                <div class="box" (click)="registerMove('box9')">
                    <div ngClass={{boardSections.box9}}></div>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="col">
        <div *ngIf="isGameStart && !playerOIsSaved; then oInput else oName"></div>
        <ng-template #oName>
            <div>
                <div *ngIf="playerOName; then showOName else showODefault"></div>
                <ng-template #showOName>
                    <div class="player-header headers">
                        {{ playerOName }}
                    </div>
                </ng-template>
                <ng-template #showODefault>
                    <div class="player-header headers">
                        Player X
                    </div>
                </ng-template>
            </div>
        </ng-template>
        <ng-template #oInput>
            <div class="headers">
                <input type="text" class="name-input" [(ngModel)]="playerOName">
                <br>
                <div style="margin-left: 5vw;">
                    <button (click)="savePlayerName('o')" class="start-game">Save</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>