<div class="play">
    <div class="col">
        <div class="player-header">
            Player X
        </div>
    </div>
    <div class="col">
        <div class="game-board">
            <div class="box left-bottom-border">
                <div class="x green"></div>
            </div>
            <div class="box left-bottom-border">
                <div class="o green"></div>
            </div>
            <div class="box">
                <div class="x purple"></div>
            </div>
            <div class="box left-bottom-border">
                <div class="box">
                    <div class="o blue"></div>
                </div>
            </div>
            <div class="box left-bottom-border">
                <div class="o pink"></div>
            </div>
            <div class="box top-bottom-border">
                <div class="x red"></div>
            </div>
            <div class="box">
                <div class="box">
                    <div class="o purple"></div>
                </div>
            </div>
            <div class="box left-right-border">
                <div class="x orange"></div>
            </div>
            <div class="box">
                <div class="x yellow"></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="player-header">
            Player O
        </div>
    </div>
</div>